beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
cfscrape==2.0.8
chardet==3.0.4
EbookLib==0.17.1
faster-than-requests==0.5
idna==2.8
lxml==4.4.1
PySide2==5.13.1
requests==2.22.0
shiboken2==5.13.1
six==1.12.0
soupsieve==1.9.3
Unidecode==1.1.1
urllib3==1.25.6
